.profile-page {
	margin-top: 10px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.profile-page .col-left {
	width: 300px;
	padding: 0 10px;
	margin: auto;
	background: rgba(227, 181, 164, 0.6);
	border-radius: 20px;
}

.profile-page .col-left .avatar {
	width: 150px;
	height: 150px;
	overflow: hidden;
	position: relative;
	margin: 15px auto;
	border: 1px solid #ddd;
	border-radius: 50%;
}

.profile-page .col-left img {
	width: 100%;
	height: 100%;
	display: block;
	-o-object-fit: cover;
	object-fit: cover;
}

.profile-page .col-left .avatar div {
	position: absolute;
	bottom: -100%;
	left: 0;
	width: 100%;
	height: 50%;
	background: #fff8;
	text-align: center;
	font-weight: 400;
	text-transform: uppercase;
	color: rgb(255, 140, 45);
	transition: 0.3s ease-in-out;
}

.profile-page .col-left .avatar:hover div {
	bottom: -15%;
}

.profile-page .col-left #file_up {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	opacity: 0;
}

.avatar-holder {
	cursor: pointer;
}

.profile-page .col-left h2 {
	text-align: center;
	font-size: 1.7rem;
	text-transform: uppercase;
	color: #fff;
	margin: 10px 0;
}

.profile-page .col-left label {
	display: block;
	margin-top: 5px;
}

.profile-page .col-left input {
	width: 100%;
	height: 40px;
	margin: 5px 0;
	border: none;
	outline: none;
	border-radius: 6px;
}

.update-button {
	text-align: center;
	margin: 16px 0;
}

.update-button button {
	width: 50%;
	border-radius: 6px;
	padding: 8px;
	transition: 0.2s;
	background: #a05344;
}

.update-button button:hover {
	opacity: 0.7;
}

/* COLUMN RIGHT */

.profile-page .col-right {
	border-radius: 10px;
	background: #a27b5c;
	padding: 0 10px;
	flex: 1;
	margin: 0 20px;
}

.profile-page .col-right h2 {
	font-size: 1.7rem;
	text-transform: uppercase;
	color: #333;
	margin: 10px 0;
}

/* TABLE */

.customers {
	border-collapse: collapse;
	width: 100%;
}

.customers td,
.customers th {
	border: 1px solid #333;
	padding: 8px;
}

/* .customers tr:nth-child(even) {
	background: #f2f2f2;
} */

.customers tr {
	background: rgba(242, 242, 242, 0.7);
}

.customers th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background: rgb(70, 67, 67);
	color: white;
}

.customers .fa-crown {
	color: rgb(134, 76, 29);
}

.customers .fa-user-tie {
	color: rgb(114, 63, 63);
}

.customers .fa-user-friends {
	color: rgb(83, 117, 190);
}

.customers .fa-edit,
.customers .fa-user-slash {
	color: #333;
}
.table-user__role {
	text-align: center;
}

.fa-user-slash {
	cursor: pointer;
}

.table-user__action .action {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

/* EDIT USER FORM */

.edit-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 300px;
	margin: 0 auto;
	background: #773344;
	padding: 10px;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
		rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.form-group.radio {
	margin: 10px 0;
}

.name-disable,
.email-disable {
	width: 98%;
}

.user-select,
.admin-select,
.employee-select {
	padding: 10px;
	display: flex;
	margin: 0 25%;
	transition: 0.2s;
	border-radius: 10px;
}

.user-select.active,
.admin-select.active,
.employee-select.active {
	background: #9cfffa;
	transition: 0.2s;
}

.form-group.radio > div > input {
	cursor: pointer;
}

.form-group.radio > div > label {
	cursor: pointer;
	width: 100%;
}

.update-edit-user {
	display: block;
	width: 100%;
	text-align: center;
}

.update-edit-user-btn {
	padding: 8px;
	border-radius: 4px;
	background: #acf39d;
	transition: 0.2s;
}

.update-edit-user-btn:hover {
	opacity: 0.6;
}

/* USER, BOOKMARK BUTTON */
.bookmark-btn,
.user-button {
	padding: 10px;
	margin: 20px;
	transition: 0.2s;
	background: #333;
	color: #fff;
}

.bookmark-btn:hover,
.user-button:hover {
	background: #ddd;
	color: #333;
}

.bookmark-holder {
	width: 180px;
}

.bookmark-title h4 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2; /* number of lines to show */
	line-clamp: 2;
	-webkit-box-orient: vertical;
}

.bookmark-holder a button {
	padding: 4px;
	width: 100%;
	background: #773344;
	color: #fff;
	transition: 0.2s;
}

.bookmark-holder a button:hover {
	background: #fff;
	color: #333;
}

.film-bookmark-delete-button {
	border: none;
	padding: 4px;
	transition: 0.2s;
}

.film-bookmark-delete-button:hover {
	opacity: 0.7;
}

.film-type {
	display: inline-block;
	width: 60px;
	background: rgb(187 187 187 / 50%);
	border-radius: 6px;
	padding: 4px;
	margin-bottom: 4px;
	margin-top: auto;
}

.react-loading-spinner {
	margin: 0 auto;
}
