header {
	width: 100%;
	height: 70px;
	background: #acf39d;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
		rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
		rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
		rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
		rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

header a {
	color: rgb(7, 27, 27);
	text-transform: uppercase;
	letter-spacing: 1.5px;
	padding: 4px;
	transition: 0.2s;
	border-radius: 10px;
}

header a:hover {
	opacity: 0.8;
	background: #e85f5c;
}

header ul {
	display: flex;
	align-items: center;
}

header ul li {
	display: inline-block;
	padding: 10px 20px;
	opacity: 0.7;
	transition: 0.3s;
}

header ul li:hover {
	opacity: 1;
}

header ul li img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

header ul li a {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.fa-tasks:before,
.fa-film:before,
.fa-sign-out-alt:before {
	vertical-align: middle;
}

header ul li a * {
	margin: 0 2px;
}

/* DROPDOWN */

header ul {
	padding: 0;
}

.drop-nav {
	display: flex;
	align-items: center;
}

.drop-nav > a {
	margin: 0 14px;
	padding: 10px;
	display: flex;
}
